<h2>Confirmar Exclusão</h2>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>



<%= form_for @product, html: { method: :delete } do |f| %>
   <%= f.submit 'Confirmar' %> |
   <%= link_to 'Back', products_path %>
<% end %>


